*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: jet;
    src: url("./assets/JetBrainsMono-Bold.ttf");
}

:root {
    --very-dark-gray: #18171F;
    --grey: #817D92;
    --dark-gray: #24232C;
    --almost-white: #E6E5EA;
    --neon-green: #A4FFAF;
}

body {
    background: var(--very-dark-gray);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .app-name {
    color: var(--grey);
    font-family: jet;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 31px;
}

.App .main-section {
    display: flex;
    flex-direction: column;
}

.App .main-section .password-display {
    background: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    padding: 19px 32px;
    align-items: center; 
    margin-bottom: 24px;
}

.App .main-section .password-display .password {
    color: var(--almost-white);
    font-family: jet;
    font-size: 32px;
    line-height: 42px;
}

.App .main-section .password-display .copy {
    background-image: url("./assets/copy.svg");
    background-color: transparent;
    background-size: cover;
    background-position: center;
    width: 21px;
    height: 24px;
    border: none;
    transition: filter .33s, transform .33s;
}

.App .main-section .password-display .copy:active {
    transform: scale(.975);
}

.App .main-section .container {
    background: var(--dark-gray);
    padding: 24px 32px 32px 32px;
}

.App .main-section .char-length {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 16px;
}

.App .main-section .char-length .char-label {
    color: var(--almost-white);
    font-family: jet;
    font-size: 18px;
    line-height: 24px;
}

.App .main-section .char-length .char-number {
    color: var(--neon-green);
    font-family: jet;
    font-size: 32px;
    line-height: 42px;
}

.App .main-section .slider {
    margin: 16px 0 32px 0;
}

.App .main-section .requirements {
    margin-bottom: 32px;
}

.App .main-section .requirements ul {
    color: var(--almost-white);
    font-family: jet;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.App .main-section .requirements ul li {
    display: flex;
    gap: 24px;
}

.App .main-section .requirements input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid var(--neon-green);
}

.App .main-section .requirements input[type="checkbox"]:checked {
    background-color: var(--neon-green);
    background-image: url("./assets/check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.App .main-section .strength {
    background: var(--very-dark-gray);
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.App .main-section .strength .strength-label {
    color: var(--grey);
    font-family: jet;
    font-size: 18px;
    line-height: 24px;
}

.App .main-section .strength .rating {
    display: flex;
    gap: 16px;
}

.App .main-section .strength .rating-message {
    color: var(--almost-white);
    font-family: jet;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.App .main-section .strength .color-rating {
    --too-weak: #F64A4A;
    --weak: #FB7C58;
    --medium: #F8CD65;
    --strong: #A4FFAF;
    display: flex;
    gap: 8px;
}

.App .main-section .strength .color-rating li {
    border: 2px solid var(--almost-white);
    width: 10px;
    height: 28px;
}

.App .main-section .strength .color-rating.too-weak li.active {
    background: var(--too-weak);
    border: none;
}

.App .main-section .strength .color-rating.weak li.active {
    background: var(--weak);
    border: none;
}

.App .main-section .strength .color-rating.medium li.active {
    background: var(--medium);
    border: none;
}

.App .main-section .strength .color-rating.strong li.active {
    background: var(--strong);
    border: none;
}

.App .main-section .generate {
    background: var(--neon-green);
    color: var(--dark-gray);
    font-family: jet;
    font-size: 18px;
    line-height: 23px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    width: 100%;
    height: 65px;
    transition: background-color .33s, color .33s;
}

.App .main-section .generate .generate-icon {
    background-image: url("./assets/arrow.svg");
    background: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    transition: transform .33s, filter .33s;
}

@media screen and (hover: hover) {
    .App .main-section .password-display .copy:hover {
        filter: brightness(200%);
    }

    .App .main-section .generate:hover {
        background: transparent;
        color: var(--neon-green);
        border: 2px solid var(--neon-green);
    }

    .App .main-section .generate:hover .generate-icon {
        filter: invert(100%) sepia(24%) saturate(3656%) hue-rotate(52deg) brightness(103%) contrast(112%);
        transform: translateX(5px);
    }
}